html
	head
		title interrupt
		script(src='static/jquery/dist/jquery.min.js')
		script(src='socket.io/socket.io.js')
	body
		h1 interrupt
		form
			button.status Get Status
			br
			br
			button.lightA Safe Transition A
			button.lightB Safe Transition B
			br
			br
			button.setAGreen Unsafe A Green
			button.setAYellow Unsafe A Yellow
			button.setARed Unsafe A Red
			button.setBGreen Unsafe B Green
			button.setBYellow Unsafe B Yellow
			button.setBRed Unsafe B Red
		script(src='static/interrupt.js')
