html
	head
		title interrupt
		script(src='static/jquery/dist/jquery.min.js')
		script(src='socket.io/socket.io.js')
	body
		h1 interrupt
		form(action='login', method='post')
			button.status Get Status
			div.message
			br
			br
			input.username(value='username')
			br
			input.password(value='password')
			br
			input(type='submit', value='Login')
		script(src='static/interrupt.js')
