html
	head
		title interrupt
		script(src='static/jquery/dist/jquery.min.js')
		script(src='socket.io/socket.io.js')
	body
		h1 interrupt
		form
			button.red Toggle Red
			button.green Toggle Green
			button.blue Toggle Blue
			button.status Get Status
		script(src='static/interrupt.js')
